<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% if current_user.try :avatar %>
        <%= image_tag(current_user.avatar.url(:thumb), :class=> 'navIMG')  %>
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="navLogged">Logged in as <strong><%= current_user.name %></strong>.</li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
        <% else %>
          <li><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></li>
          <li><%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %></li>
          <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |</li>
          <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
