<!DOCTYPE html>
<html>
<head>
  <title>Prograils</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- insert that to navbar -->
  <%= render 'shared/navigation' %>
  <!-- insert that to navbar END-->

  <%= yield %>

</body>
</html>
